a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  font-family: "Jost", sans-serif; }

button,
input {
  line-height: normal;
  font-family: "Jost", sans-serif; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
html,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-LightItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-MediumItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-BoldItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Black.woff2") format("woff2"), url("../fonts/Jost/Jost-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-BlackItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-ThinItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Thin.woff2") format("woff2"), url("../fonts/Jost/Jost-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Jost/Jost-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-ExtraBold.woff2") format("woff2"), url("../fonts/Jost/Jost-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Italic.woff2") format("woff2"), url("../fonts/Jost/Jost-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-ExtraLight.woff2") format("woff2"), url("../fonts/Jost/Jost-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Light.woff2") format("woff2"), url("../fonts/Jost/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

/*----------*/
@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/alsrubl/alsrubl-arial-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/alsrubl/alsrubl-arial-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/alsrubl/alsrubl-arial-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/alsrubl/alsrubl-arial-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

*,
*::before,
*::after {
  box-sizing: border-box; }

::selection {
  background: #003b6e;
  color: #fff; }

::-moz-selection {
  background: #003b6e;
  color: #fff; }

html * {
  max-height: 999999px; }

html,
body {
  height: 100%;
  position: relative; }

html {
  font-size: 10px; }

body {
  font-family: "Jost", sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1.8rem;
  color: #36474f;
  -webkit-backface-visibility: hidden;
  -webkit-text-size-adjust: 100%; }

sup {
  vertical-align: super;
  line-height: 0;
  font-size: 0.75em; }

h1,
.h1 {
  margin-bottom: 0.75em;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
  font-weight: bold;
  font-size: 2.6rem;
  color: #36474f; }
  @media (min-width: 768px) {
    h1,
    .h1 {
      font-size: 3.4rem; } }

h2,
.h2 {
  margin-bottom: 0.75em;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
  font-weight: bold;
  font-size: 2.2rem;
  color: #36474f; }
  @media (min-width: 768px) {
    h2,
    .h2 {
      font-size: 2.8rem; } }

h3,
.h3 {
  margin-bottom: 0.75em;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
  font-weight: bold;
  font-size: 1.8rem;
  color: #36474f; }
  @media (min-width: 768px) {
    h3,
    .h3 {
      font-size: 1.8rem; } }

h4,
.h4 {
  margin-bottom: 0.75em;
  font-family: "Jost", sans-serif;
  line-height: 1.2;
  font-weight: bold;
  font-size: 1.6rem;
  color: #36474f; }

a {
  color: #003b6e;
  text-decoration: none;
  transition: color 0.2s ease-in-out; }

a:hover {
  color: #36474f; }

.ov-h {
  overflow: hidden !important; }

/*----------*/
.b-ruble-font {
  font-family: "ALSRubl", sans-serif; }

/*----------*/
.b-button,
a.b-button,
button.b-button {
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  display: block;
  background: #f00;
  opacity: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  transition: opacity 0.2s ease-in-out; }
  .b-button:hover,
  a.b-button:hover,
  button.b-button:hover {
    opacity: 0.8; }

/*----------*/
@media (max-width: calc(768px - 1px)) {
  .hide-on-mobile {
    display: none !important; } }

@media (min-width: 768px) and (max-width: calc(1200px - 1px)) {
  .hide-on-tablet {
    display: none !important; } }

@media (min-width: 1200px) {
  .hide-on-desktop {
    display: none !important; } }

.l-wrap {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap; }

/*----------*/
.l-header {
  margin: auto;
  max-width: 1700px;
  width: 100%; }

/*----------*/
.l-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex: 1 auto; }
  @media (min-width: 768px) {
    .l-content {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .l-content .content__wrap {
    margin: auto;
    max-width: 1700px;
    width: 100%; }

/*----------*/
/*----------*/
/*----------*/
.b-head-line {
  margin: 0 -3000px;
  padding: 0 3000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8fa4ae; }

/*----------*/
.b-head-menu a {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #36474f;
  transition: color 0.2s ease-in-out; }
  .b-head-menu a:first-child {
    padding-left: 0; }

.b-head-menu a:hover {
  text-decoration: none;
  color: #003b6e; }

/*----------*/
.b-icons-social img {
  opacity: 1;
  background-color: #8fa4ae;
  border-radius: 100rem;
  transition: opacity 0.2s ease-in-out; }

.b-icons-social a {
  margin-right: 1.5rem;
  display: inline-block;
  text-decoration: none; }
  .b-icons-social a:last-child {
    margin-right: 0; }

.b-icons-social a:hover {
  text-decoration: none; }
  .b-icons-social a:hover img {
    opacity: 0.75; }

.b-icons-social--white img {
  background-color: #fff; }

/*----------*/
.b-head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 10rem; }
  @media (min-width: 768px) {
    .b-head {
      min-height: 11rem; } }
  @media (min-width: 1200px) {
    .b-head {
      min-height: 15rem; } }
  .b-head .head__contacts {
    position: relative; }
    @media (min-width: 768px) {
      .b-head .head__contacts {
        padding-left: 6rem; } }
    .b-head .head__contacts a[href^="tel:"] {
      font-size: 2.5rem;
      font-family: "Jost", sans-serif;
      font-weight: bold;
      color: #36474f;
      text-decoration: none;
      transition: color 0.2s ease-in-out; }
      .b-head .head__contacts a[href^="tel:"] img {
        display: inline-block;
        vertical-align: middle;
        border-radius: 100rem;
        background-color: #8fa4ae; }
        @media (min-width: 768px) {
          .b-head .head__contacts a[href^="tel:"] img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%); } }
      .b-head .head__contacts a[href^="tel:"] span {
        display: none; }
        @media (min-width: 768px) {
          .b-head .head__contacts a[href^="tel:"] span {
            display: block; } }
    .b-head .head__contacts a[href^="tel:"]:hover {
      text-decoration: none;
      color: #003b6e; }
    .b-head .head__contacts a[href^="mailto:"] {
      display: none;
      text-decoration: none;
      font-size: 1.4rem;
      border-bottom: 1px solid transparent;
      color: #003b6e;
      transition: border-bottom-color 0.2s ease-in-out; }
      @media (min-width: 768px) {
        .b-head .head__contacts a[href^="mailto:"] {
          display: inline-block; } }
    .b-head .head__contacts a[href^="mailto:"]:hover {
      border-bottom-color: #003b6e;
      text-decoration: none; }
  .b-head .head__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .b-head .head__logo img {
      display: inline-block;
      vertical-align: middle;
      max-width: 11rem; }
      @media (min-width: 1200px) {
        .b-head .head__logo img {
          max-width: none; } }
  .b-head .head__cart img {
    border-radius: 100rem;
    background-color: #f00;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; }
    @media (min-width: 768px) {
      .b-head .head__cart img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); } }
  .b-head .head__cart a {
    position: relative;
    display: inline-block;
    text-decoration: none; }
    @media (min-width: 768px) {
      .b-head .head__cart a {
        padding-left: 6rem; } }
  .b-head .head__cart a:hover {
    text-decoration: none; }
    .b-head .head__cart a:hover img {
      opacity: 0.75; }
  .b-head .head__cart .head-cart__title {
    display: none;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #36474f; }
    @media (min-width: 768px) {
      .b-head .head__cart .head-cart__title {
        display: block; } }
  .b-head .head__cart .head-cart__count {
    display: none;
    font-size: 1.4rem;
    color: #36474f; }
    @media (min-width: 768px) {
      .b-head .head__cart .head-cart__count {
        display: block; } }

/*----------*/
.b-menusearch-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative; }

/*----------*/
.b-search {
  position: relative;
  flex: 1 auto; }
  .b-search input {
    border: 2px solid #003b6e;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 0;
    background: #fff;
    font-size: 1.6rem;
    -webkit-appearance: none;
    width: 100%;
    transition: border-color 0.2s ease-in-out; }
    .b-search input:focus {
      border-color: #8fa4ae; }
    .b-search input ::-webkit-input-placeholder {
      color: #8fa4ae; }
    .b-search input :-moz-placeholder {
      color: #8fa4ae;
      opacity: 1; }
    .b-search input ::-moz-placeholder {
      color: #8fa4ae;
      opacity: 1; }
    .b-search input :-ms-input-placeholder {
      color: #8fa4ae; }
  .b-search button {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4.5rem;
    background: none;
    -webkit-appearance: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out; }
    .b-search button:hover {
      opacity: 0.75; }

/*----------*/
.b-footer {
  padding-top: 3rem;
  position: relative;
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .b-footer {
      padding-top: 4.5rem; } }
  .b-footer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -3000px;
    bottom: 0;
    left: -3000px;
    z-index: -1;
    background-color: #f1f3f4; }
  .b-footer h4 {
    font-family: "Jost", sans-serif;
    font-size: 2rem; }
  .b-footer p {
    margin-bottom: 1.5rem; }
    .b-footer p:last-child {
      margin-bottom: 0; }
  .b-footer .footer__menu {
    padding-bottom: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%; }
    @media (min-width: 768px) {
      .b-footer .footer__menu {
        padding-bottom: 0;
        width: 50%; } }
    .b-footer .footer__menu li {
      margin-bottom: 1rem; }
    .b-footer .footer__menu a {
      text-decoration: none;
      color: #36474f;
      transition: color 0.2s ease-in-out; }
    .b-footer .footer__menu a:hover {
      text-decoration: none;
      color: #36474f; }
  .b-footer .footer__menu-item {
    padding-bottom: 3rem;
    width: 100%; }
    @media (min-width: 1200px) {
      .b-footer .footer__menu-item {
        padding-bottom: 0;
        width: 50%; } }
    .b-footer .footer__menu-item:last-child {
      padding-bottom: 0; }
  .b-footer .footer__contacts {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%; }
    @media (min-width: 768px) {
      .b-footer .footer__contacts {
        padding-bottom: 0;
        width: 50%; } }
    .b-footer .footer__contacts a[href^="tel:"] {
      color: #36474f; }
    .b-footer .footer__contacts a[href^="tel:"]:hover {
      color: #36474f; }
  .b-footer .footer__contacts-item {
    padding-bottom: 3rem;
    width: 100%; }
    @media (min-width: 1200px) {
      .b-footer .footer__contacts-item {
        padding-bottom: 0;
        width: 50%; } }
    .b-footer .footer__contacts-item:last-child {
      padding-bottom: 0; }
    .b-footer .footer__contacts-item span {
      display: inline-block; }
  .b-footer .footer__line {
    margin-top: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #8fa4ae;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #36474f; }
    @media (min-width: 768px) {
      .b-footer .footer__line {
        margin-top: 4.5rem; } }
    .b-footer .footer__line > div {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }

/*----------*/
/*----------*/
/*----------*/
/*----------*/
/*----------*/
.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .pagination span {
    width: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #8fa4ae; }
  .pagination a {
    width: 4rem;
    color: #003b6e;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; }
  .pagination a:hover {
    color: #00b6da; }
  .pagination a.active {
    color: #8fa4ae; }
  .pagination__prev, .pagination__next {
    width: auto;
    position: relative;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; }
  .pagination__prev {
    margin-right: 1rem;
    left: 0; }
    .pagination__prev:hover {
      left: -0.5rem; }
  .pagination__next {
    margin-left: 1rem;
    right: 0; }
    .pagination__next:hover {
      right: -0.5rem; }

.more-btn {
  margin-bottom: 3rem;
  text-align: center; }
  .more-btn a {
    padding: 1.5rem 2rem;
    border-radius: 100rem;
    width: 100%;
    max-width: 36.5rem;
    display: inline-block;
    vertical-align: middle;
    background-color: #f5f7f8;
    text-decoration: none;
    font-weight: 600;
    font-weight: 1.7rem;
    color: #003b6e;
    letter-spacing: 0.05em;
    transition: color 0.2s ease-in-out; }
  .more-btn a:hover {
    text-decoration: none;
    color: #00b6da; }

.catalog .catalog__pic {
  margin-bottom: 1.5rem; }
  .catalog .catalog__pic picture {
    display: block;
    overflow: hidden; }
  .catalog .catalog__pic img {
    max-width: 100%;
    transform: scale(1);
    transition: transform 0.4s ease-in-out; }
  .catalog .catalog__pic a:hover img {
    transform: scale(1.05); }

.catalog .catalog__id {
  margin-bottom: 1rem;
  color: #8fa4ae;
  font-size: 1.4rem; }

.catalog .catalog__title {
  margin-bottom: 1rem;
  line-height: 1.3; }
  .catalog .catalog__title a {
    color: #36474f; }
    .catalog .catalog__title a:hover {
      color: #003b6e; }

.catalog .catalog__price {
  font-weight: 600;
  font-size: 2rem; }

.catalog--list {
  margin-bottom: 2rem; }
  .catalog--list .catalog__items {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-flow: row wrap; }
  .catalog--list .catalog__item {
    margin-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100% / 2); }
    @media (min-width: 768px) {
      .catalog--list .catalog__item {
        width: calc(100% / 3); } }
    @media (min-width: 1200px) {
      .catalog--list .catalog__item {
        width: calc(100% / 4); } }
    @media (min-width: 1440px) {
      .catalog--list .catalog__item {
        width: calc(100% / 5); } }

/*# sourceMappingURL=maps/main.css.map */
