<header class="l-header">
  <div class="header header--line">
    <div class="header__inner">
      <div class="header__city">
        <span>Санкт-Петербург</span>
      </div>
      <div class="header__support"><span class="hide-on-mobile">Служба клиентской поддержки </span><a href="tel:88125668382">8 (812) 566-83-82</a></div>
      <nav class="header__menu hide-on-mobile hide-on-tablet">
        <a href="#">Заказать образцы</a>
        <a href="#">Дизайнерам</a>
        <a href="#">Портфолио</a>
        <a href="#">Новости</a>
        <a href="#">Контакты</a>
        <a href="#">Акции%</a>
      </nav>
    </div>
  </div>
  <!--  -->
  <div class="header">
    <div class="header__inner">
      <div class="header__logo">
        <a href="#">
          <img src="./img/polgoroda-logo.svg" alt="">
        </a>
      </div>
      <div class="header__catalog hide-on-mobile hide-on-tablet">
        <span class="header__btn js-dropdown-show header__sandwich"><ins></ins> Каталог товаров</span>
      </div>
      <div class="header__search"> 
        //= ./search-active.html
      </div>
      <div class="header__btns">
        <a href="#" class="header__btn"><img src="./img/icon-user.svg" alt=""><span class="hide-on-mobile">Войти</span></a>
        <a href="#" class="header__btn"><img src="./img/icon-shopping-cart.svg" alt=""><span class="hide-on-mobile">Корзина</span></a>
        <span class="header__btn header__sandwich js-sidebar-show hide-on-desktop"><ins></ins> <span class="hide-on-mobile">Меню</span></span>
      </div>
      //= ./header-dropdown-menu.html
    </div>
  </div>
</header>
  <!--  -->