<div class="cart">
  <div class="cart__header">
    <h1>Корзина</h1>
    <button class="b-button b-button--clear b-button--icon-basket cart__header-btn">Очистить козрину</button>
  </div>
  <div class="cart__items">
    <!--  -->
    <div class="cart__item">
      <picture class="cart__pic">
        <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
        <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
        <img src='./img/catalog-pic-1.jpg' alt=''>
      </picture>
      <div class="cart__content">
        <div class="cart__details">
          <div class="cart__id">К090117</div>
          <div class="cart__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
        </div>
        <div class="cart__price">
          <div class="cart__mini-title">Цена за м</div>
          <div>3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
          <div class="cart__mini-title">1 упаковка = 3.41 м<sup>2</sup></div>
        </div>
        <div class="cart__count">
          <div class="cart__mini-title">Упаковок</div>
          <div class="count"> 
            //= ./count-element.html
          </div>
          <div class="cart__mini-title">1 упаковка = 5 327.77 ₽</div>
        </div>
        <div class="cart__price cart__price--summ">
          <div class="cart__mini-title">Сумма</div>
          <div>3 500 <span class="b-ruble-font">Р</span></div>
        </div>
      </div>
      <div class="cart__delete"><button class="b-button b-button--clear">Удалить</button></div>
    </div>
    <!--  -->
    <div class="cart__item">
      <picture class="cart__pic">
        <source srcset='./img/catalog-pic-4.webp' type='image/webp'>
        <source srcset='./img/catalog-pic-4.jpg' type='image/jpeg'>
        <img src='./img/catalog-pic-4.jpg' alt=''>
      </picture>
      <div class="cart__content">
        <div class="cart__details">
          <div class="cart__id">К090117</div>
          <div class="cart__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
        </div>
        <div class="cart__price">
          <div class="cart__mini-title">Цена за м</div>
          <div>3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
          <div class="cart__mini-title">1 упаковка = 3.41 м<sup>2</sup></div>
        </div>
        <div class="cart__count">
          <div class="cart__mini-title">Упаковок</div>
          <div class="count"> 
            //= ./count-element.html
          </div>
          <div class="cart__mini-title">1 упаковка = 5 327.77 ₽</div>
        </div>
        <div class="cart__price cart__price--summ">
          <div class="cart__mini-title">Сумма</div>
          <div>3 500 <span class="b-ruble-font">Р</span></div>
        </div>
      </div>
      <div class="cart__delete"><button class="b-button b-button--clear">Удалить</button></div>
    </div>
    <!--  -->
  </div>
  <div class="cart__line">
    <a href="#" class="b-button b-button--clear b-button--icon-back">Назад к покупкам</a>
    <div class="cart__total">
      <div class="cart__mini-title">Итого</div>
      <div class="cart__price cart__price--summ">3 500 <span class="b-ruble-font">Р</span></div>
    </div>
  </div>
</div>