<div class="catalog catalog--carousel carousel">
  <h2>Товары по акции</h2>
  <div class="catalog__carousel">
    <div class="swiper-container swiper-container-carousel">
      <div class="swiper-wrapper">
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-2.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-2.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-2.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-3.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-3.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-3.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-4.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-4.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-4.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-5.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-5.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-5.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-6.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-6.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-6.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="swiper-slide">
          <div class="catalog__item">
            <div class="catalog__pic">
              <a href="#">
                <picture>
                  <source srcset='./img/catalog-pic-7.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-7.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-7.jpg' alt='Инженерная доска Arti Parchetto Italian Дуб Bianco'>
                </picture>
              </a>
              <div class="catalog__overlay">
                <ul>
                  <li>Коллекция: <span>Wood Bee</span></li>
                  <li>Покрытие: <span>Лак</span></li>
                  <li>Порода дерева: <span>Ясень</span></li>
                  <li>Длина: <span>1200 мм</span></li>
                  <li>Ширина: <span>125 мм</span></li>
                  <li>Толщина: <span>12 мм</span></li>
                </ul>
                <div class="catalog__btn">
                  <a class="b-button b-button--blue b-button--wide" href="#">Добавить в корзину</a>
                </div>
              </div>
            </div>
            <div class="catalog__content">
              <div class="catalog__id">К090117</div>
              <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
              <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>