<div class="catalog catalog--goods">
  <div class="catalog__items">
    <div class="catalog__item">
      <div class="catalog__inner">
        <div class="catalog__pic">
          <a href="#">
            <picture>
              <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
              <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
              <img src='./img/catalog-pic-1.jpg' alt=''>
            </picture>
          </a>
        </div>
        <div class="catalog__content">
          <div class="catalog__id">К090117</div>
          <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
          <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
        </div>
      </div>
    </div>
    <div class="catalog__item">
      <div class="catalog__inner">
        <div class="catalog__pic">
          <a href="#">
            <picture>
              <source srcset='./img/catalog-pic-2.webp' type='image/webp'>
              <source srcset='./img/catalog-pic-2.jpg' type='image/jpeg'>
              <img src='./img/catalog-pic-2.jpg' alt=''>
            </picture>
          </a>
        </div>
        <div class="catalog__content">
          <div class="catalog__id">К090117</div>
          <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
          <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
        </div>
      </div>
    </div>
  </div>
</div>