<div class="b-tabs-acc js-tabacc">
  <div class="tabs-acc__nav">
    <div class="tabs-acc__nav-item active js-tabacc-title" data-tabid="specs">Характеристики</div>
    <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="desc">Описание</div>
    <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="about">О бренде</div>
    <div class="tabs-acc__nav-item js-tabacc-title" data-tabid="delivery">Доставка</div>
  </div>
  <div class="tabs-acc__items">
    <div class="tabs-acc__item">
      <div class="tabs-acc__title active js-tabacc-title" data-tabid="specs"><span>Характеристики</span>
      </div>
      <div class="tabs-acc__content active show js-tabacc-content" data-tabcontent="specs">
        <h2>Характеристики товара</h2>
        <div class="catalog__specs catalog__specs--col-2">
          <ul>
            <li><span>Производитель</span><ins>Karelia</ins></li>
            <li><span>Коллекция</span><ins>С фаской</ins></li>
            <li><span>Страна</span><ins>Италия</ins></li>
            <li><span>Порода дерева</span><ins>Дуб</ins></li>
            <li><span>Количество полос</span><ins>Трехполосный</ins></li>
            <li><span>Фаска</span><ins>С фаской</ins></li>
            <li><span>Замковая система Замок</span><ins>Замок</ins></li>
            <li><span>На ощупь</span><ins>Гладкая</ins></li>
            <li><span>Обработка</span><ins>Матовая</ins></li>
            <li><span>Антистатичность</span><ins>нет</ins></li>
            <li><span>Ценный слой, мм</span><ins>3,5</ins></li>
            <li><span>Цвет</span><ins>Бежевый, Выбеленный, Светло-коричневый</ins></li>
            <li><span>Толщина, мм</span><ins>14</ins></li>
            <li><span>Длина, мм</span><ins>2266</ins></li>
            <li><span>Ширина, мм</span><ins>188</ins></li>
            <li><span>Художественная укладка</span><ins>нет</ins></li>
            <li><span>Для теплого пола</span><ins>да</ins></li>
            <li><span>Для теплого пола</span><ins>нет</ins></li>
            <li><span>Кабель-канал</span><ins>нет</ins></li>
            <li><span>Кабель-канал</span><ins>нет</ins></li>
            <li><span>Оттенки</span><ins>Светлые</ins></li>
            <li><span>Подложка</span><ins>нет</ins></li>
            <li><span>Подложка</span><ins>нет</ins></li>
            <li><span>Покрытие</span><ins>Лак</ins></li>
            <li><span>Твердость по Бринеллю</span><ins>2,8-6,2</ins></li>
            <li><span>Досок в упаковке, шт.</span><ins>8</ins></li>
            <li><span>Размер, мм</span><ins>14x188x2266</ins></li>
            <li><span>В упаковке, м<sup>2</sup></span><ins>2,31</ins></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tabs-acc__item">
      <div class="tabs-acc__title js-tabacc-title" data-tabid="desc"><span>Описание</span>
      </div>
      <div class="tabs-acc__content js-tabacc-content" data-tabcontent="desc">
        <h2>Описание товара</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sed aut illo, architecto inventore quasi praesentium quibusdam tenetur impedit harum asperiores ipsam blanditiis nam sapiente, quae temporibus voluptatum vitae nulla. Vel, doloremque. Voluptatem reiciendis ipsam perferendis. Adipisci consequuntur quis commodi id, dolores tenetur accusamus in eius amet aut porro atque sunt cumque perferendis facere quidem, earum veniam! Id, sequi! Illo, quos odio porro alias voluptate libero consectetur hic consequuntur vitae, laboriosam accusamus animi molestias nihil perspiciatis pariatur adipisci esse, maxime vel cupiditate ex neque. Eius perspiciatis incidunt dolorem, consequuntur numquam ea, architecto maiores nihil ipsa iste quaerat ex! Minima, quos!</p>
      </div>
    </div>
    <div class="tabs-acc__item">
      <div class="tabs-acc__title js-tabacc-title" data-tabid="about"><span>О бренде</span>
      </div>
      <div class="tabs-acc__content js-tabacc-content" data-tabcontent="about">
        <h2>Описание бренда</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolorum, tempore molestias magni ipsam recusandae nihil hic vitae quae amet rerum esse assumenda soluta illum debitis laudantium error excepturi impedit ratione ad eum quos non? Cum ipsum qui explicabo neque velit commodi quas in, eos nesciunt accusamus voluptas dolores repudiandae ipsam porro, inventore ex blanditiis libero totam autem iure omnis delectus. Exercitationem cupiditate reiciendis, dicta libero architecto ducimus quas accusamus aliquam quia nam, nulla quaerat neque sunt eligendi recusandae. Quam fugiat magnam officia recusandae laboriosam, obcaecati maxime ducimus inventore, quas incidunt consequuntur commodi, quidem eius provident unde adipisci fuga voluptatem!</p>
      </div>
    </div>
    <div class="tabs-acc__item">
      <div class="tabs-acc__title js-tabacc-title" data-tabid="delivery"><span>Доставка</span>
      </div>
      <div class="tabs-acc__content js-tabacc-content" data-tabcontent="delivery">
        <h2>Способы доставки</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eligendi, facilis minus recusandae quas commodi possimus suscipit distinctio dolore in at amet obcaecati voluptate quis quidem ex vitae adipisci maxime ipsam earum. Unde dicta voluptates, nam laudantium ullam pariatur laborum sunt repellat quod atque. Quis expedita, distinctio quaerat nulla maiores mollitia, molestiae voluptatum ea doloremque consequuntur dolorem! Vitae, enim qui fugiat quae sint veritatis omnis aliquam adipisci expedita, vero in nemo, unde saepe aperiam. Optio itaque quae quam praesentium esse facilis consectetur quo quos ducimus in, laborum et est aspernatur. Optio, doloribus dolorem porro deleniti aliquam reiciendis quia beatae fugiat.</p>
      </div>
    </div>
  </div>
</div>