<div class="contacts">
  <div class="contacts__col contacts__col--left">
    <div class="contacts__map">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af7baca99efc99d1fd75fe144a6e987940122730b3b3b45d374dd4d386124be6a&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div class="contacts__items">
      <div class="contacts__item">
        <p><strong>Контактные данные</strong></p>
        <p>Санкт-Петербург, ул. Савушкина, д.119, к. 3, эт. 1, ТЦ «Villa»</p>
      </div>
      <div class="contacts__item">
        <p><strong>Телефон</strong></p>
        <p><a href="tel:+88125651507">8 (812) 565-15-07</a></p>
      </div>
      <div class="contacts__item">
        <p><strong>Электроная почта</strong></p>
        <p><a href="mailto:info@polgoroda.ru">info@polgoroda.ru</a></p>
      </div>
    </div>
  </div>
  <div class="contacts__col contacts__col--right"> 
    <div class="contacts__form">
      //= ./contacts-form.html
    </div>
  </div>
</div>