<div class="filter hide-on-mobile hide-on-tablet">
  <div class="filter__items">
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Сортировать</span>
        <div class="filter__dropdown-content">
          <!-- Чекбоксы -->
          <ul>
            <li>
              <div class="radio">
                <input type="radio" name="filter-radio" id="filter-radio-1-1">
                <label class="radio__btn" for="filter-radio-1-1"></label>
                <label class="radio__title" for="filter-radio-1-1">По умолчанию</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" name="filter-radio" id="filter-radio-1-2">
                <label class="radio__btn" for="filter-radio-1-2"></label>
                <label class="radio__title" for="filter-radio-1-2">По уменьшению цены</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <input type="radio" name="filter-radio" id="filter-radio-1-3">
                <label class="radio__btn" for="filter-radio-1-3"></label>
                <label class="radio__title" for="filter-radio-1-3">По возрастанию цены</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Цена</span>
        <div class="filter__dropdown-content">
          <!-- range -->
          <div class="filter__range range js-range" data-min="100" data-max='10000' data-step='100'>
            <input type="text" class="js-range-min"><span>&mdash;</span><input type="text" class="js-range-max">
            <div class="range__slider">
              <div class="js-range-slider"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Коллекция</span>
        <div class="filter__dropdown-content">
          <!-- Чекбоксы -->
          <ul>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-5" id="filter-1-5">
                <label class="checkbox__btn" for="filter-1-5"></label>
                <label class="checkbox__title" for="filter-1-5">Коллекция</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-6" id="filter-1-6">
                <label class="checkbox__btn" for="filter-1-6"></label>
                <label class="checkbox__title" for="filter-1-6">Коллекция</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-7" id="filter-1-7">
                <label class="checkbox__btn" for="filter-1-7"></label>
                <label class="checkbox__title" for="filter-1-7">Коллекция</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-8" id="filter-1-8">
                <label class="checkbox__btn" for="filter-1-8"></label>
                <label class="checkbox__title" for="filter-1-8">Коллекция</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Порода дерева</span>
        <div class="filter__dropdown-content">
          <!-- Чекбоксы -->
          <ul>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-9" id="filter-1-9">
                <label class="checkbox__btn" for="filter-1-9"></label>
                <label class="checkbox__title" for="filter-1-9">Дуб</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-10" id="filter-1-10">
                <label class="checkbox__btn" for="filter-1-10"></label>
                <label class="checkbox__title" for="filter-1-10">Ясень</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-11" id="filter-1-11">
                <label class="checkbox__btn" for="filter-1-11"></label>
                <label class="checkbox__title" for="filter-1-11">Сосна</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-12" id="filter-1-12">
                <label class="checkbox__btn" for="filter-1-12"></label>
                <label class="checkbox__title" for="filter-1-12">Клён</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-13" id="filter-1-13">
                <label class="checkbox__btn" for="filter-1-13"></label>
                <label class="checkbox__title" for="filter-1-13">Орех</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-14" id="filter-1-14">
                <label class="checkbox__btn" for="filter-1-14"></label>
                <label class="checkbox__title" for="filter-1-14">Вишня</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Дизайн</span>
        <div class="filter__dropdown-content">
          <!-- Чекбоксы -->
          <ul>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-15" id="filter-1-15">
                <label class="checkbox__btn" for="filter-1-15"></label>
                <label class="checkbox__title" for="filter-1-15">Дизайн</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-16" id="filter-1-16">
                <label class="checkbox__btn" for="filter-1-16"></label>
                <label class="checkbox__title" for="filter-1-16">Дизайн</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-17" id="filter-1-17">
                <label class="checkbox__btn" for="filter-1-17"></label>
                <label class="checkbox__title" for="filter-1-17">Дизайн</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-18" id="filter-1-18">
                <label class="checkbox__btn" for="filter-1-18"></label>
                <label class="checkbox__title" for="filter-1-18">Дизайн</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-19" id="filter-1-19">
                <label class="checkbox__btn" for="filter-1-19"></label>
                <label class="checkbox__title" for="filter-1-19">Дизайн</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-20" id="filter-1-20">
                <label class="checkbox__btn" for="filter-1-20"></label>
                <label class="checkbox__title" for="filter-1-20">Дизайн</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Страна</span>
        <div class="filter__dropdown-content">
          <!-- Чекбоксы -->
          <ul>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-21" id="filter-1-21">
                <label class="checkbox__btn" for="filter-1-21"></label>
                <label class="checkbox__title" for="filter-1-21">Страна</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-22" id="filter-1-22">
                <label class="checkbox__btn" for="filter-1-22"></label>
                <label class="checkbox__title" for="filter-1-22">Страна</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-23" id="filter-1-23">
                <label class="checkbox__btn" for="filter-1-23"></label>
                <label class="checkbox__title" for="filter-1-23">Страна</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-24" id="filter-1-24">
                <label class="checkbox__btn" for="filter-1-24"></label>
                <label class="checkbox__title" for="filter-1-24">Страна</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-25" id="filter-1-25">
                <label class="checkbox__btn" for="filter-1-25"></label>
                <label class="checkbox__title" for="filter-1-25">Страна</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-26" id="filter-1-26">
                <label class="checkbox__btn" for="filter-1-26"></label>
                <label class="checkbox__title" for="filter-1-26">Страна</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Покрытие</span>
        <div class="filter__dropdown-content">
          <!-- Чекбоксы -->
          <ul>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-27" id="filter-1-27">
                <label class="checkbox__btn" for="filter-1-27"></label>
                <label class="checkbox__title" for="filter-1-27">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-28" id="filter-1-28">
                <label class="checkbox__btn" for="filter-1-28"></label>
                <label class="checkbox__title" for="filter-1-28">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-29" id="filter-1-29">
                <label class="checkbox__btn" for="filter-1-29"></label>
                <label class="checkbox__title" for="filter-1-29">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-30" id="filter-1-30">
                <label class="checkbox__btn" for="filter-1-30"></label>
                <label class="checkbox__title" for="filter-1-30">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-31" id="filter-1-31">
                <label class="checkbox__btn" for="filter-1-31"></label>
                <label class="checkbox__title" for="filter-1-31">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-32" id="filter-1-32">
                <label class="checkbox__btn" for="filter-1-32"></label>
                <label class="checkbox__title" for="filter-1-32">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-33" id="filter-1-33">
                <label class="checkbox__btn" for="filter-1-33"></label>
                <label class="checkbox__title" for="filter-1-33">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-34" id="filter-1-34">
                <label class="checkbox__btn" for="filter-1-34"></label>
                <label class="checkbox__title" for="filter-1-34">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-35" id="filter-1-35">
                <label class="checkbox__btn" for="filter-1-35"></label>
                <label class="checkbox__title" for="filter-1-35">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-36" id="filter-1-36">
                <label class="checkbox__btn" for="filter-1-36"></label>
                <label class="checkbox__title" for="filter-1-36">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-37" id="filter-1-37">
                <label class="checkbox__btn" for="filter-1-37"></label>
                <label class="checkbox__title" for="filter-1-37">Покрытие</label>
              </div>
            </li>
            <li>
              <div class="checkbox">
                <input type="checkbox" name="filter-1-38" id="filter-1-38">
                <label class="checkbox__btn" for="filter-1-38"></label>
                <label class="checkbox__title" for="filter-1-38">Покрытие</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="filter__item">
      <div class="filter__dropdown">
        <span>Толщина, мм</span>
        <div class="filter__dropdown-content">
          <!-- range -->
          <div class="filter__range range js-range" data-min="1" data-max='24' data-step='1'>
            <input type="text" class="js-range-min"><span>&mdash;</span><input type="text" class="js-range-max">
            <div class="range__slider">
              <div class="js-range-slider"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<div class="filter-btn hide-on-desktop">
  <span class="b-button b-button--wide b-button--gray b-button--icon-filter js-sidebar-filter-show">Все фильтры</span>
</div>
<div class="filter-selected">
  <span>Паркетная доска</span>
  <span>Все коллекции</span>
  <span>Дуб</span>
  <span>Однополосный</span>
  <span>Россия</span>
  <span class="filter-selected__reset">Сбросить</span>
</div>
