<div class="header__dropdown js-dropdown-menu hide-on-mobile hide-on-tablet">
  <nav class="header__dropdown-inner">
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Паркетная доска</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
          <li><a href="#">Без фаски Натур</a></li>
          <li><a href="#">Селект</a></li>
          <li><a href="#">Рустик</a></li>
          <li><a href="#">Кантри</a></li>
          <li><a href="#">Новинка</a></li>
          <li><a href="#">Хит</a></li>
          <li><a href="#">Акция</a></li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Ламинат</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
          <li><a href="#">Без фаски Натур</a></li>
          <li><a href="#">Селект</a></li>
          <li><a href="#">Рустик</a></li>
          <li><a href="#">Кантри</a></li>
          <li><a href="#">Новинка</a></li>
          <li><a href="#">Хит</a></li>
          <li><a href="#">Акция</a></li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Паркетная ёлка</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Массивная доска</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
          <li><a href="#">Без фаски Натур</a></li>
          <li><a href="#">Селект</a></li>
          <li><a href="#">Рустик</a></li>
          <li><a href="#">Кантри</a></li>
          <li><a href="#">Новинка</a></li>
          <li><a href="#">Хит</a></li>
          <li><a href="#">Акция</a></li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Пробковые покрытия</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
          <li><a href="#">Без фаски Натур</a></li>
          <li><a href="#">Селект</a></li>
          <li><a href="#">Рустик</a></li>
          <li><a href="#">Кантри</a></li>
          <li><a href="#">Новинка</a></li>
          <li><a href="#">Хит</a></li>
          <li><a href="#">Акция</a></li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Кварцвиниловая плитка</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
        </ul>
      </div>
    </div>
    <div class="header__dropdown-item">
      <picture class="header__dropdown-pic">
        <source srcset='./img/menu-pic.webp' type='image/webp'>
        <source srcset='./img/menu-pic.jpg' type='image/jpeg'>
        <img src='./img/menu-pic.jpg' alt=''>
      </picture>
      <div class="header__dropdown-content">
        <a href="#">Плинтус</a>
        <ul>
          <li><a href="#">Дуб</a></li>
          <li><a href="#">Ясень</a></li>
          <li><a href="#">Американский орех</a></li>
          <li><a href="#">Лак</a></li>
          <li><a href="#">Масло Однополосная</a></li>
          <li><a href="#">Трехполосная</a></li>
          <li><a href="#">С фаской</a></li>
          <li><a href="#">Без фаски Натур</a></li>
          <li><a href="#">Селект</a></li>
          <li><a href="#">Рустик</a></li>
          <li><a href="#">Кантри</a></li>
          <li><a href="#">Новинка</a></li>
          <li><a href="#">Хит</a></li>
          <li><a href="#">Акция</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>