<div class="lk-order">
  <div class="lk-order__header">
    <h2>Заказ #TF-PM-00048579</h2>
    <div class="lk-order__status lk-order__status--ok">Завершен</div>
  </div>
  <div class="lk-order__btns">
    <a gref="#" class="b-button b-button--clear b-button--icon-back">Вернутся к списку заказов</a>
    <span class="b-button b-button--clear b-button--icon-print">Распечатать заказ</span>
  </div>
  <div class="lk-order__content">
    <ul>
      <li>
        <span>Комментарии клиента</span>
        <p>При создании заказа комментарий не был оставлен</p>
      </li>
      <li>
        <span>Метод оплаты</span>
        <p>Оплата картой при получении</p>
      </li>
      <li>
        <span>Адрес доставки</span>
        <p>ул. Дмитрия Ульянова, д.42, Москва, 117218, Россия</p>
        <p>Александр Клименков</p>
        <p>+ 7 (933) 333-33-33</p>
      </li>
      <li>
        <span>Метод доставки</span>
        <p>DPD</p>
      </li>
    </ul>
  </div>
  <div class="lk-order__items">
    <div class="lk-order__item">
      <picture class="lk-order__item-pic">
        <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
        <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
        <img src='./img/catalog-pic-1.jpg' alt=''>
      </picture>
      <div class="lk-order__item-content">
        <div class="lk-order__item-id">К090117</div>
        <div class="lk-order__item-title"><a tarhet="_blank" href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
      </div>
      <div class="lk-order__item-price">
        <ins>Сумма</ins> 3 500 <span class="b-ruble-font">Р</span>
      </div>
    </div>
    <div class="lk-order__item">
      <picture class="lk-order__item-pic">
        <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
        <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
        <img src='./img/catalog-pic-1.jpg' alt=''>
      </picture>
      <div class="lk-order__item-content">
        <div class="lk-order__item-id">К090117</div>
        <div class="lk-order__item-title"><a tarhet="_blank" href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
      </div>
      <div class="lk-order__item-price">
        <ins>Сумма</ins> 3 500 <span class="b-ruble-font">Р</span>
      </div>
    </div>
  </div>
  <div class="lk-order__footer">
    <div class="lk-order__footer-btn">
      <a gref="#" class="b-button b-button--clear b-button--icon-back">Вернутся к списку заказов</a>
    </div>
    <div class="lk-order__footer-total">
      <div class="lk-order__total">
        <div class="lk-order__total-line">
          <div>2 товара на сумму</div><ins></ins><strong>5 327.77 <span class="b-ruble-font">Р</span></strong>
        </div>
        <div class="lk-order__total-line">
          <div>Скидка</div><ins></ins><strong>-500 <span class="b-ruble-font">Р</span></strong>
        </div>
        <div class="lk-order__total-line lk-order__total-line--cost">
          <div>Итого</div><ins></ins><strong>8 299.94 <span class="b-ruble-font">Р</span></strong>
        </div>
      </div>
    </div>
  </div>
</div>