<h2>Мои заказы</h2>
<div class="lk-orders">
  <table>
    <tr>
      <th>Номер заказа</th>
      <th>Дата</th>
      <th>Статус</th>
      <th>Сумма</th>
      <th></th>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--wait">Ожидает обработки</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--bad">Отменен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
    <tr>
      <td class="lk-orders__id">ID: COE-61678</td>
      <td class="lk-orders__date">12.12.2020</td>
      <td class="lk-orders__status lk-orders__status--ok">Завершен</td>
      <td class="lk-orders__price">26 243 руб</td>
      <td class="lk-orders__more"><a href="#">Подробнее</a></td>
    </tr>
  </table>
</div>