
<div class="lk-edit">
  <div class="content">
    <h2>Панель управления</h2>
    <p>С помощью панели управления Вы с легкостью можете управлять личным кабинетом: оформлять заказы, изменять адреса, выбирать удобные способы доставки и оплаты, настраивать рассылки и др.</p>
  </div>
  <div class="lk-edit__header">
    <span>Данные учётной записи</span><ins></ins>
  </div>
  <div class="lk-edit__items">
    <div class="lk-edit__item">
      <div class="lk-edit__content">
        <div class="lk-edit__title">Геннадий Захаров</div>
        <p><a href="mailto:gennazaharov@gmail.com">gennazaharov@gmail.com</a></p>
        <p><a href="tel:+79262308030">+7 (926) 230-80-30</a></p>
      </div>
      <div class="lk-edit__btn">
        <a href="#">Изменить пароль</a>
      </div>
    </div>
  </div>
</div>
<div class="lk-edit">
  <div class="lk-edit__header">
    <span>Адрес доставки</span><ins></ins>
  </div>
  <div class="lk-edit__items">
    <div class="lk-edit__item">
      <div class="lk-edit__content">
        <div class="lk-edit__title">ул Связистов, д 2, кв 381</div>
        <p>Одинцово, село Немчиновка, 143025, Россия</p>
      </div>
      <div class="lk-edit__btn">
        <a href="#">Изменить адрес</a>
      </div>
    </div>
  </div>
</div>