<div class="lk-data">
  <h2>Данные учётной записи</h2>
  <div class="lk-data__form">
    <form class="form">
      <div class="form__group">
        <div class="form__group-title"><span>Редактировать данные</span><ins></ins></div>
        <div class="form__items">
          <div class="form__item form__item--label form__item--half">
            <input type="text" value="Геннадий" placeholder="placeholder" required>
            <label for="">Ваше имя *</label>
          </div>
          <div class="form__item form__item--label form__item--half">
            <input type="text" value="Захаров" placeholder="placeholder" required>
            <label for="">Фамилия *</label>
          </div>
          <div class="form__item form__item--label form__item--half">
            <input type="tel" placeholder="placeholder" required>
            <label for="">Укажите контактный телефон *</label>
          </div>
          <div class="form__item form__item--label form__item--half">
            <input type="email" value="gennazaharov@gmail.com " placeholder="placeholder" required>
            <label for="">Адрес электронной почты *</label>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="form__group">
        <div class="form__group-title"><span>Изменить пароль </span><ins></ins></div>
        <div class="form__items">
          <div class="form__item form__item--label form__item--half">
            <input type="password" required>
            <label for="">Текущий пароль *</label>
          </div>
          <div class="form__item form__item--label form__item--half">
            <input type="password" required>
            <label for="">Новый пароль *</label>
          </div>
          <div class="form__item form__item--label form__item--half">
            <input type="password" required>
            <label for="">Подтвердить новый пароль *</label>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="form__item">
        <button type="submit" class="b-button b-button--blue b-button--wide" disabled>Сохранить изменения</button>
      </div>
      <div class="form__item">
        <button type="submit" class="b-button b-button--blue b-button--wide">Сохранить изменения</button>
      </div>
    </form>
  </div>
</div>