<div class="slider">
  <div class="swiper-container swiper-container-main">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset='./img/slider-pic.webp' type='image/webp'>
          <source srcset='./img/slider-pic.jpg' type='image/jpeg'>
          <img src='./img/slider-pic.jpg' alt=''>
        </picture>
        <div class="slider__content">
          <div class="slider__title" data-swiper-parallax-x="-20">Отличные скидки на кварцвиниловую плитку Alpinext</div>
          <div class="slider__btn" data-swiper-parallax-x="-10"><a class="b-button b-button--clear-dark b-button--icon-arrow-dark" href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset='./img/slider-pic-2.webp' type='image/webp'>
          <source srcset='./img/slider-pic-2.jpg' type='image/jpeg'>
          <img src='./img/slider-pic-2.jpg' alt=''>
        </picture>
        <div class="slider__content">
          <div class="slider__title" data-swiper-parallax-x="-20">Скидки на кварцвиниловую плитку Alpinext</div>
          <div class="slider__btn" data-swiper-parallax-x="-10"><a class="b-button b-button--clear-dark b-button--icon-arrow-dark" href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset='./img/slider-pic-3.webp' type='image/webp'>
          <source srcset='./img/slider-pic-3.jpg' type='image/jpeg'>
          <img src='./img/slider-pic-3.jpg' alt=''>
        </picture>
        <div class="slider__content">
          <div class="slider__title" data-swiper-parallax-x="-20">Распродажа паркетной доски ELLETT</div>
          <div class="slider__btn" data-swiper-parallax-x="-10"><a class="b-button b-button--clear-dark b-button--icon-arrow-dark" href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset='./img/slider-pic.webp' type='image/webp'>
          <source srcset='./img/slider-pic.jpg' type='image/jpeg'>
          <img src='./img/slider-pic.jpg' alt=''>
        </picture>
        <div class="slider__content">
          <div class="slider__title" data-swiper-parallax-x="-20">Отличные скидки на кварцвиниловую плитку Alpinext</div>
          <div class="slider__btn" data-swiper-parallax-x="-10"><a class="b-button b-button--clear-dark b-button--icon-arrow-dark" href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset='./img/slider-pic-2.webp' type='image/webp'>
          <source srcset='./img/slider-pic-2.jpg' type='image/jpeg'>
          <img src='./img/slider-pic-2.jpg' alt=''>
        </picture>
        <div class="slider__content">
          <div class="slider__title" data-swiper-parallax-x="-20">Скидки на кварцвиниловую плитку Alpinext</div>
          <div class="slider__btn" data-swiper-parallax-x="-10"><a class="b-button b-button--clear-dark b-button--icon-arrow-dark" href="#">Подробнее</a></div>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset='./img/slider-pic-3.webp' type='image/webp'>
          <source srcset='./img/slider-pic-3.jpg' type='image/jpeg'>
          <img src='./img/slider-pic-3.jpg' alt=''>
        </picture>
        <div class="slider__content">
          <div class="slider__title" data-swiper-parallax-x="-20">Распродажа паркетной доски ELLETT</div>
          <div class="slider__btn" data-swiper-parallax-x="-10"><a class="b-button b-button--clear-dark b-button--icon-arrow-dark" href="#">Подробнее</a></div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>