<div class="brands">
  <h2>Популярные бренды</h2>
  <div class="brands__items">
    <div class="brands__item">
      <!-- Ссылку можно выпилить, если нет в ней необходимости -->
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-1.webp" type="image/webp">
          <source srcset="./img/brand-icon-1.png" type="image/png">
          <img src="./img/brand-icon-1.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-2.webp" type="image/webp">
          <source srcset="./img/brand-icon-2.png" type="image/png">
          <img src="./img/brand-icon-2.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-3.webp" type="image/webp">
          <source srcset="./img/brand-icon-3.png" type="image/png">
          <img src="./img/brand-icon-3.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-4.webp" type="image/webp">
          <source srcset="./img/brand-icon-4.png" type="image/png">
          <img src="./img/brand-icon-4.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-5.webp" type="image/webp">
          <source srcset="./img/brand-icon-5.png" type="image/png">
          <img src="./img/brand-icon-5.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-6.webp" type="image/webp">
          <source srcset="./img/brand-icon-6.png" type="image/png">
          <img src="./img/brand-icon-6.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-7.webp" type="image/webp">
          <source srcset="./img/brand-icon-7.png" type="image/png">
          <img src="./img/brand-icon-7.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-8.webp" type="image/webp">
          <source srcset="./img/brand-icon-8.png" type="image/png">
          <img src="./img/brand-icon-8.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-9.webp" type="image/webp">
          <source srcset="./img/brand-icon-9.png" type="image/png">
          <img src="./img/brand-icon-9.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-10.webp" type="image/webp">
          <source srcset="./img/brand-icon-10.png" type="image/png">
          <img src="./img/brand-icon-10.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-11.webp" type="image/webp">
          <source srcset="./img/brand-icon-11.png" type="image/png">
          <img src="./img/brand-icon-11.png" alt="">
        </picture>
      </a>
    </div>
    <div class="brands__item">
      <a href="#">
        <picture>
          <source srcset="./img/brand-icon-12.webp" type="image/webp">
          <source srcset="./img/brand-icon-12.png" type="image/png">
          <img src="./img/brand-icon-12.png" alt="">
        </picture>
      </a>
    </div>
  </div>
</div>