<div class="portfolio-block">
  <div class="portfolio-block__header">
    <h2>Примеры наших работ</h2>
    <div class="portfolio-block__more"><a class="b-button b-button--clear b-button--icon-arrow" href="#">Все работы</a></div>
  </div>
  <div class="portfolio-block__cols">
    <div class="portfolio-block__col">
      <div class="portfolio-block__cols">
        <div class="portfolio-block__col">
          <div class="portfolio-block__item">
            <picture>
              <source srcset='./img/main-works-pic-1.webp' type='image/webp'>
              <source srcset='./img/main-works-pic-1.jpg' type='image/jpeg'>
              <img src='./img/main-works-pic-1.jpg' alt=''>
            </picture>
            <div class="portfolio-block__dot">
              <span></span>
              <div class="portfolio-block__content catalog">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt=''>
                </picture>
                <div>
                  <div class="catalog__id">К090117</div>
                  <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
                  <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-block__col">
          <div class="portfolio-block__item">
            <picture>
              <source srcset='./img/main-works-pic-2.webp' type='image/webp'>
              <source srcset='./img/main-works-pic-2.jpg' type='image/jpeg'>
              <img src='./img/main-works-pic-2.jpg' alt=''>
            </picture>
            <div class="portfolio-block__dot">
              <span></span>
              <div class="portfolio-block__content catalog">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt=''>
                </picture>
                <div>
                  <div class="catalog__id">К090117</div>
                  <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
                  <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-block__col portfolio-block__col--wide">
          <div class="portfolio-block__item portfolio-block__item--right">
            <picture>
              <source srcset='./img/main-works-pic-3.webp' type='image/webp'>
              <source srcset='./img/main-works-pic-3.jpg' type='image/jpeg'>
              <img src='./img/main-works-pic-3.jpg' alt=''>
            </picture>
            <div class="portfolio-block__dot">
              <span></span>
              <div class="portfolio-block__content catalog">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt=''>
                </picture>
                <div>
                  <div class="catalog__id">К090117</div>
                  <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
                  <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-block__col">
      <div class="portfolio-block__cols">
        <div class="portfolio-block__col portfolio-block__col--wide">
          <div class="portfolio-block__item portfolio-block__item--right">
            <picture>
              <source srcset='./img/main-works-pic-4.webp' type='image/webp'>
              <source srcset='./img/main-works-pic-4.jpg' type='image/jpeg'>
              <img src='./img/main-works-pic-4.jpg' alt=''>
            </picture>
            <div class="portfolio-block__dot">
              <span></span>
              <div class="portfolio-block__content catalog">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt=''>
                </picture>
                <div>
                  <div class="catalog__id">К090117</div>
                  <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
                  <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-block__col">
          <div class="portfolio-block__item">
            <picture>
              <source srcset='./img/main-works-pic-5.webp' type='image/webp'>
              <source srcset='./img/main-works-pic-5.jpg' type='image/jpeg'>
              <img src='./img/main-works-pic-5.jpg' alt=''>
            </picture>
            <div class="portfolio-block__dot">
              <span></span>
              <div class="portfolio-block__content catalog">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt=''>
                </picture>
                <div>
                  <div class="catalog__id">К090117</div>
                  <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
                  <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-block__col">
          <div class="portfolio-block__item">
            <picture>
              <source srcset='./img/main-works-pic-6.webp' type='image/webp'>
              <source srcset='./img/main-works-pic-6.jpg' type='image/jpeg'>
              <img src='./img/main-works-pic-6.jpg' alt=''>
            </picture>
            <div class="portfolio-block__dot">
              <span></span>
              <div class="portfolio-block__content catalog">
                <picture>
                  <source srcset='./img/catalog-pic-1.webp' type='image/webp'>
                  <source srcset='./img/catalog-pic-1.jpg' type='image/jpeg'>
                  <img src='./img/catalog-pic-1.jpg' alt=''>
                </picture>
                <div>
                  <div class="catalog__id">К090117</div>
                  <div class="catalog__title"><a href="#">Инженерная доска Arti Parchetto Italian Дуб Bianco</a></div>
                  <div class="catalog__price">3 500 <span class="b-ruble-font">Р</span>/м<sup>2</sup></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>