<div class="news news--main-news">
  <div class="news__header">
    <h2>Новости</h2>
    <div class="news__more"><a class="b-button b-button--clear b-button--icon-arrow" href="#">Все новости</a></div>
  </div>
  <div class="news__items">
    <div class="news__item">
      <div class="news__date">11 августа 2021 </div>
      <div class="news__title"><a href="#">Скидки на кварцвиниловую плитку Alpinext</a></div>
    </div>
    <div class="news__item">
      <div class="news__date">11 августа 2021 </div>
      <div class="news__title"><a href="#">Весь сентябрь дарим подложку при покупке коллекций Aquafloor</a></div>
    </div>
    <div class="news__item">
      <div class="news__date">11 августа 2021 </div>
      <div class="news__title"><a href="#">Распродажа паркетной доски ELLETT</a></div>
    </div>
    <div class="news__item">
      <div class="news__date">11 августа 2021 </div>
      <div class="news__title"><a href="#">Весь сентябрь дарим подложку при покупке коллекций Aquafloor</a></div>
    </div>
    <div class="news__item">
      <div class="news__date">11 августа 2021 </div>
      <div class="news__title"><a href="#">Скидки на кварцвиниловую плитку Alpinext</a></div>
    </div>
    <div class="news__item">
      <div class="news__date">11 августа 2021 </div>
      <div class="news__title"><a href="#">Распродажа паркетной доски ELLETT</a></div>
    </div>
  </div>
</div>