<div class="news news--main-sale">
  <div class="news__header">
    <h2>Популярные акции</h2>
    <div class="news__more"><a class="b-button b-button--clear b-button--icon-arrow" href="#">Все акции</a></div>
  </div>
  <div class="news__items">
    <div class="news__item">
      <div class="news__pic">
        <a href="#">
          <picture>
            <source srcset='./img/news-pic-1.webp' type='image/webp'>
            <source srcset='./img/news-pic-1.jpg' type='image/jpeg'>
            <img src='./img/news-pic-1.jpg' alt=''>
          </picture>
        </a>
      </div>
      <div class="news__date">11 августа по 15 сентября </div>
      <div class="news__title"><a href="#">Скидки на кварцвиниловую плитку Alpinext</a></div>
      <p>Распродажа паркетной доски ELLETT во всех магазинах Планета Паркета. На избранные декоры действуют скидки до 40%.</p>
    </div>
    <div class="news__item">
      <div class="news__pic">
        <a href="#">
          <picture>
            <source srcset='./img/news-pic-2.webp' type='image/webp'>
            <source srcset='./img/news-pic-2.jpg' type='image/jpeg'>
            <img src='./img/news-pic-2.jpg' alt=''>
          </picture>
        </a>
      </div>
      <div class="news__date">11 августа по 15 сентября </div>
      <div class="news__title"><a href="#">Весь сентябрь дарим подложку при покупке коллекций Aquafloor</a></div>
      <p>Никальное напольное покрытие, сочетающее в себе преимущества паркета, линолеума и ламината.</p>
    </div>
    <div class="news__item">
      <div class="news__pic">
        <a href="#">
          <picture>
            <source srcset='./img/news-pic-3.webp' type='image/webp'>
            <source srcset='./img/news-pic-3.jpg' type='image/jpeg'>
            <img src='./img/news-pic-3.jpg' alt=''>
          </picture>
        </a>
      </div>
      <div class="news__date">11 августа по 15 сентября </div>
      <div class="news__title"><a href="#">Распродажа паркетной доски ELLETT</a></div>
      <p>Распродажа паркетной доски ELLETT во всех магазинах Планета Паркета. На избранные декоры действуют скидки до 40%.</p>
    </div>
  </div>
</div>