<div class="news news-detail">
  <div class="news-detail__inner">
    <div class="news__date">11 августа по 15 сентября </div>
    <h1>Отличные скидки на кварцвиниловую плитку Alpinext</h1>
    <div class="news-detail__gallery">
      //= ./swiper-gallery.html
    </div>
    <div class="news-detail__content content">
      <h2>О проекте</h2>
      <p>У нас в гостях архитектор, дизайнер, эксперт в проектировании коммерческих помещений, профессионал своего дела и приятный собеседник - Екатерина Никулина!</p>
      <p>Екатерина рассказала, в чем особенность дизайна коммерческих помещений, существуют ли особые требования, что должен знать заказчик, обращаясь к дизайнеру, и с чего начать воплощение вашей идеи по открытию заведения.</p>
      <p>Приятного просмотра!</p>
      <ul>
        <li>Невероятная прочность – 43 класс износостойкости по достоинству оценят владельцы коммерческих площадей;</li>
        <li>Долговечность – плитка из этих коллекций славится долгим сроком службы;</li>
        <li>Быстрый монтаж – замковый тип соединения позволяет укладывать декор без клея и подложки;</li>
        <li>Простота ухода – в отличие от натурального дерева, кварцвиниловый ламинат легко моется.</li>
        <li>Напольные покрытия Alpinext – достойная альтернатива деревянным полам, не требующая особых хлопот в обслуживании. </li>
        <li>Водостойкая кварцвиниловая плитка экологична, износоустойчива, ударопрочна и термостабильна. Имеет антистатичные и противоскользящие свойства.</li>
        <li>Многообразие дизайнов под дерево и камень подойдет для интерьеров всех стилей, и прекрасно будет смотреться в самых различных liпомещениях: дома, в гостиницах, офисах, а также в детских учреждениях, спортивных залах и больницах.</li>
      </ul>
    </div>
    <div class="news-detail__goods"> 
      //= ./catalog-goods.html
    </div>
  </div>
</div>