<div class="news news-detail">
  <div class="news-detail__inner">
    <div class="news__date">11 августа по 15 сентября </div>
    <h1>Отличные скидки на кварцвиниловую плитку Alpinext</h1>
    <div class="news-detail__gallery">
      //= ./swiper-gallery.html
    </div>
    <div class="news-detail__content content">
      <h2>О проекте</h2>
      <p>У нас в гостях архитектор, дизайнер, эксперт в проектировании коммерческих помещений, профессионал своего дела и приятный собеседник - Екатерина Никулина!</p>
      <p>Екатерина рассказала, в чем особенность дизайна коммерческих помещений, существуют ли особые требования, что должен знать заказчик, обращаясь к дизайнеру, и с чего начать воплощение вашей идеи по открытию заведения.</p>
      <p>Приятного просмотра!</p>
    </div>
    <div class="news-detail__goods">
      //= ./catalog-goods.html
    </div>
  </div>
</div>