<div class="news news-detail">
  <div class="news-detail__inner">
    <div class="news__date">Дизайнерам</div>
    <h1>Предложим лучшее решение для вашего проекта</h1>
    <div class="news-detail__gallery">
      //= ./swiper-gallery.html
    </div>
    <div class="news-detail__content content">
      <h2>ПолГорода — сервис № 1 по работе с напольными покрытиями.</h2>
      <p>Мы оказываем полный цикл услуг — от консультации по напольным покрытиям и продажи до укладки по индивидуальному дизайн-проекту. Мы нацелены на максимальную экономию Вашего времени и все берем в свои руки:</p>
      <ul>
        <li>Продемонстрируем выбранные Вами образцы напольных покрытий непосредственно на объекте, что позволит выбрать наиболее точные и желаемые параметры покрытия по цвету, дизайну, способу укладки</li>
        <li>Доставим все необходимое на объект</li>
        <li>Уложим напольное покрытие «под ключ»</li>
      </ul>
      <p>&nbsp;</p>
      <h2>Мы не предлагаем лучшие решения для Вашего проекта, мы их воплощаем в жизнь!</h2>
      <p>И вот что мы гарантируем</p>
      <div class="benefits">
        <div class="benefits__items">
          <div class="benefits__item">
            <div class="benefits__pic">
              <img src="./img/benefits-icon-1.svg" alt="">
            </div>
            <div class="benefits__title">Слышать Ваши предпочтения</div>
          </div>
          <!--  -->
          <div class="benefits__item">
            <div class="benefits__pic">
              <img src="./img/benefits-icon-2.svg" alt="">
            </div>
            <div class="benefits__title">Договариваться об индивидуальных условиях сотрудничества</div>
          </div>
          <!--  -->
          <div class="benefits__item">
            <div class="benefits__pic">
              <img src="./img/benefits-icon-3.svg" alt="">
            </div>
            <div class="benefits__title">Консультировать по всем вопросам 
              в области напольных покрытий </div>
          </div>
          <!--  -->
          <div class="benefits__item">
            <div class="benefits__pic">
              <img src="./img/benefits-icon-4.svg" alt="">
            </div>
            <div class="benefits__title">Предоставлять гарантию на нашу работу не менее 2-х лет</div>
          </div>
          <!--  -->
          <div class="benefits__item">
            <div class="benefits__pic">
              <img src="./img/benefits-icon-5.svg" alt="">
            </div>
            <div class="benefits__title">Давать рекомендации к сотрудничеству</div>
          </div>
          <!--  -->
          <div class="benefits__item">
            <div class="benefits__pic">
              <img src="./img/benefits-icon-6.svg" alt="">
            </div>
            <div class="benefits__title">Давать рекомендации к сотрудничеству</div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    //= ./news-detail-form.html
  </div>
</div>

