<div class="content">
  <h2>Свяжитесь с нами</h2>
  <p>Оставьте заявку и наш менеджер перезвонит вам</p>
</div>
<form class="form">
  <div class="form__cols">
    <div class="form__col">
      <div class="form__items">
        <div class="form__item form__item--label">
          <input type="text" placeholder="Ваше имя * " required>
          <label for="">Ваше имя * </label>
        </div>
        <div class="form__item form__item--label">
          <input type="tel" placeholder="Телефон для связи * " required>
          <label for="">Телефон для связи * </label>
        </div>
        <div class="form__item form__item--label">
          <input type="email" placeholder="Адрес электронной почты *" required>
          <label for="">Адрес электронной почты *</label>
        </div>
      </div>
    </div>
    <div class="form__col">
      <div class="form__items">
        <div class="form__item form__item--label">
          <textarea  placeholder="Ваш комментарий к заявке * " required></textarea>
          <label for="">Ваш комментарий к заявке * </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form__item form__item--center">
    <button type="submit" class="b-button b-button--blue b-button--big">Оставить заявку</button>
  </div>
</form>


