<div id="form-signup" class="modal">
  <div class="modal__title">
    <button data-fancybox="signup" data-src="#form-signin">Вход</button> / <span>Регистрация</span>
  </div>
  <form class="form form--sign">
    <div class="form__items">
      <div class="form__item">
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="form__item">
        <input type="email" placeholder="Email">
      </div>
      <div class="form__item">
        <input type="password" placeholder="Придумайте пароль">
        <p class="form__info">Минимум 6 символов (букв, цифр и спец. знаков)</p>
      </div>
      <div class="form__item form__item--center">
        <div class="checkbox">
          <input type="checkbox" name="checkbox-newsletter" id="checkbox-newsletter">
          <label for="checkbox-newsletter" class="checkbox__btn"></label>
          <label for="checkbox-newsletter" class="checkbox__title">Я хочу знать о скидках и акциях</label>
        </div>
      </div>
      <div class="form__item">
        <button type="submit" class="b-button b-button--wide b-button--blue">Зарегистрироваться</button>
      </div>
    </div>
    <p class="form-policy">Нажимая “Зарегистрироваться”, я даю свое согласие на <a href="#">обработку персональных данных</a></p>
  </form>
</div>