<div id="form-signin" class="modal">
  <div class="modal__title">
    <span>Вход</span> / <button data-fancybox="signin" data-src="#form-signup">Регистрация</button>
  </div>
  <form class="form form--sign">
    <div class="form__items">
      <div class="form__item form__item--label">
        <input type="text" placeholder="Email или телефон" required>
        <label for="">Email или телефон</label>
      </div>
      <div class="form__item form__item--label">
        <input type="password" placeholder="Пароль" required>
        <label for="">Пароль</label>
      </div>
      <div class="form__item">
        <a class="b-button b-button--wide b-button--clear" href="#">Забыли пароль?</a>
      </div>
      <div class="form__item">
        <button type="submit" class="b-button b-button--wide b-button--blue">Войти</button>
      </div>
    </div>
  </form>
</div>