<div id="form-add-address" class="modal">
  <div class="modal__title">Новый адрес</div>
  <form class="form form--sign">
    <div class="form__items">
      <div class="form__item form__item--label">
        <input type="text" placeholder="Контактное лицо *" required>
        <label for="">Контактное лицо * </label>
      </div>
      <div class="form__item form__item--label">
        <input type="tel" placeholder="Телефон для связи * " required>
        <label for="">Телефон для связи * </label>
      </div>
      <div class="form__item form__item--label">
        <input type="text" placeholder="Населенный пункт * " required>
        <label for="">Населенный пункт * </label>
      </div>
      <div class="form__item form__item--label">
        <input type="text" placeholder="Улица * " required>
        <label for="">Улица * </label>
      </div>
      <div class="form__item form__item--group">
        <div class="form__item form__item--label">
          <input type="text" placeholder="Улица * " required>
          <label for="">Дом * </label>
        </div>
        <div class="form__item form__item--label">
          <input type="text" placeholder="Улица * " required>
          <label for="">Кв. / Офис *</label>
        </div>
        <div class="form__item form__item--label">
          <input type="text" placeholder="Улица * " required>
          <label for="">Индекс *</label>
        </div>
      </div>
      <div class="form__item form__item--right">
        <button type="submit" class="b-button b-button--clear">Очистить </button>
        <button type="submit" class="b-button b-button--blue">Добавить</button>
      </div>
    </div>
  </form>
</div>