<div class="sample">
  <div class="sample__collection">
    <div class="content">
      <h2>Название коллекции </h2>
      <p>Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. то тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.</p>
    </div>
    <div class="sample__items">
      <div class="sample__item">
        <input type="checkbox" name="sample-1-1" id="sample-1-1">
        <label for="sample-1-1">
          <picture class="sample__pic">
            <source srcset='./img/sample-pic-1.webp' type='image/webp'>
            <source srcset='./img/sample-pic-1.png' type='image/png'>
            <img src='./img/sample-pic-1.png' alt=''>
          </picture>
          <div class="sample__id">342313</div>
        </label>
      </div>
    </div>
  </div>
</div>