<div class="card">
  <h3>Ваши образцы</h3>
  <form class="form">
    <div class="form__items">
      <div class="form__item">
        <div class="form__samples">
          <div class="form__sample">
            <div class="form__sample-inner">
              <picture class="form__sample-pic">
                <source srcset='./img/sample-pic-1.webp' type='image/webp'>
                <source srcset='./img/sample-pic-1.png' type='image/png'>
                <img src='./img/sample-pic-1.png' alt=''>
              </picture>
            </div>
          </div>
          <div class="form__sample">
            <div class="form__sample-inner"></div>
          </div>
          <div class="form__sample">
            <div class="form__sample-inner"></div>
          </div>
          <div class="form__sample">
            <div class="form__sample-inner"></div>
          </div>
          <div class="form__sample">
            <div class="form__sample-inner"></div>
          </div>
        </div>
      </div>
      <div class="form__item">
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="form__item">
        <input type="tel" placeholder="Ваш телефон">
      </div>
      <div class="form__item">
        <a class="b-button b-button--blue b-button--wide b-button--big" href="#">Заказть образцы</a>
      </div>
    </div>
  </form>
</div>
<div class="form-policy">Подтверждая заказ, я соглашаюсь с условиями 
  <a href="#">политики конфиденциальности</a>.</div>