<div class="search search--active">
  <form class="search__input">
    <input type="text" placeholder="Поиск">
    <span class="search__clear"><img src="./img/icon-times.svg" alt=""></span>
    <button class="search__search"><img src="./img/icon-search.svg" alt=""></button>
  </form>
  <ul class="search__results">
    <li><a href="#"><strong>Инже</strong>нерная доска</a></li>
    <li><a href="#"><strong>Инже</strong>нерная доска Arti Parchetto Italian Дуб Bianco</a></li>
    <li><a href="#"><strong>Инже</strong>нерная доска Amigo Бамбук HiTech Прованс</a></li>
    <li><a href="#"><strong>Инже</strong>нерная доска Hofparkett Дуб Hebiz</a></li>
  </ul>
</div>