<div class="sidebar sidebar--filter js-sidebar-filter">
  <div class="sidebar__inner">
    <div class="sidebar__header">
      Фильтр
      <span class="js-sidebar-filter-hide"><img src="./img/icon-times.svg" alt=""></span>
    </div>
    <div class="sidebar__filter">
      //= ./sidebar-filter-block.html
    </div>
    <div class="sidebar__footer">
      <span class="b-button b-button--clear">Очистить всё</span>
      <span class="b-button b-button--blue">Применить</span>
    </div>
  </div>
</div>
<div class="sidebar-bg js-sidebar-filter-bg"></div>