<nav class="sidebar__menu sidebar__menu--active">
    <ul class="sidebar__menu-level-1">
      <li class="sidebar__menu-item-1">
        <span><a href="#">Паркетная доска</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Паркетная доска</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
      <li class="sidebar__menu-item-1">
        <span><a href="#">Массивная доска</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Массивная доска</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
      <li class="sidebar__menu-item-1">
        <span><a href="#">Плинтус</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Плинтус</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
      <li class="sidebar__menu-item-1">
        <span><a href="#">Ламинат</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Ламинат</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
      <li class="sidebar__menu-item-1">
        <span><a href="#">Пробковые покрытия</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Пробковые покрытия</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
      <li class="sidebar__menu-item-1">
        <span><a href="#">Паркетная ёлка</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Паркетная ёлка</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
      <li class="sidebar__menu-item-1">
        <span><a href="#">Кварцвиниловая плитка</a><ins></ins></span>
        <ul class="sidebar__menu-level-2">
          <li class="sidebar__menu-item-spacer"><span>Кварцвиниловая плитка</span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
          <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        </ul>
      </li>
    </ul>
    <ul class="sidebar__menu-level-1 sidebar__menu-level-1--blue">
      <li class="sidebar__menu-item-1"><span><a href="#">Заказать образцы</a></span></li>
      <li class="sidebar__menu-item-1"><span><a href="#">Дизайнерам</a></span></li>
      <li class="sidebar__menu-item-1"><span><a href="#">Портфолио</a></span></li>
      <li class="sidebar__menu-item-1"><span><a href="#">Новости</a></span></li>
      <li class="sidebar__menu-item-1"><span><a href="#">Контакты</a></span></li>
      <li class="sidebar__menu-item-1"><span><a href="#">Акции%</a></span></li>
    </ul>
</nav>