<nav class="sidebar__menu">
  <ul class="sidebar__menu-level-1 js-menu-main">
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Паркетная доска</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Паркетная доска</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
      </ul>
    </li>
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Массивная доска</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Массивная доска</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
      </ul>
    </li>
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Плинтус</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Плинтус</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
      </ul>
    </li>
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Ламинат</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Ламинат</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
      </ul>
    </li>
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Пробковые покрытия</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Пробковые покрытия</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
      </ul>
    </li>
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Паркетная ёлка</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Паркетная ёлка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Селект</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Рустик</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Кантри</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Новинка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
      </ul>
    </li>
    <li class="sidebar__menu-item-1 js-menu-item">
      <span><a href="#">Кварцвиниловая плитка</a><ins></ins></span>
      <ul class="sidebar__menu-level-2 js-menu-next">
        <li class="sidebar__menu-item-spacer"><span><a href="#">Кварцвиниловая плитка</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Дуб</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Ясень</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Американский орех</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Лак</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Масло </a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Однополосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Трехполосная</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">С фаской</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Без фаски</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Натур</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Хит</a></span></li>
        <li class="sidebar__menu-item-2"><span><a href="#">Акция</a></span></li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar__menu-level-1 sidebar__menu-level-1--blue">
    <li class="sidebar__menu-item-1 js-menu-item"><span><a href="#">Заказать образцы</a></span></li>
    <li class="sidebar__menu-item-1 js-menu-item"><span><a href="#">Дизайнерам</a></span></li>
    <li class="sidebar__menu-item-1 js-menu-item"><span><a href="#">Портфолио</a></span></li>
    <li class="sidebar__menu-item-1 js-menu-item"><span><a href="#">Новости</a></span></li>
    <li class="sidebar__menu-item-1 js-menu-item"><span><a href="#">Контакты</a></span></li>
    <li class="sidebar__menu-item-1 js-menu-item"><span><a href="#">Акции%</a></span></li>
  </ul>
</nav>