<div class="swiper-container swiper-container-gallery">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture>
        <source srcset='../img/news-detail-pic.webp' type='image/webp'>
        <source srcset='../img/news-detail-pic.jpg' type='image/jpeg'>
        <img src='../img/news-detail-pic.jpg' alt='Отличные скидки на кварцвиниловую плитку Alpinext'>
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source srcset='../img/news-detail-pic.webp' type='image/webp'>
        <source srcset='../img/news-detail-pic.jpg' type='image/jpeg'>
        <img src='../img/news-detail-pic.jpg' alt='Отличные скидки на кварцвиниловую плитку Alpinext'>
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source srcset='../img/news-detail-pic.webp' type='image/webp'>
        <source srcset='../img/news-detail-pic.jpg' type='image/jpeg'>
        <img src='../img/news-detail-pic.jpg' alt='Отличные скидки на кварцвиниловую плитку Alpinext'>
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source srcset='../img/news-detail-pic.webp' type='image/webp'>
        <source srcset='../img/news-detail-pic.jpg' type='image/jpeg'>
        <img src='../img/news-detail-pic.jpg' alt='Отличные скидки на кварцвиниловую плитку Alpinext'>
      </picture>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>