$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Jost', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-font: #36474f;
$color-font-dark: #263238;
$color-black: #000;
$color-white: #fff;
$color-white-80a: rgba(255, 255, 255, 0.8);
$color-gray: #8fa4ae;
$color-lightgray: #f5f7f8;
$color-lightgray2: #cfd8dc;
$color-lightgray3: #77909c;
$color-lightgray-50a: rgba(245, 247, 248, 0.5);
$color-red: #f00;
$color-blue: #003b6e;
$color-lightblue: #00b6da;
