$breakpoint-desktop-extra: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet-extra: 900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-extra: 650px;

$font-family: 'Jost', sans-serif;
$font-family-ruble: 'ALSRubl', sans-serif;

$color-font: #36474f;
$color-black: #000;
$color-white: #fff;
$color-gray: #8fa4ae;
$color-red: #f00;
$color-blue: #003b6e;
