*,
*::before,
*::after {
  box-sizing: border-box;
}
::selection {
  background: $color-blue;
  color: $color-white;
}
::-moz-selection {
  background: $color-blue;
  color: $color-white;
}
html * {
  max-height: 999999px;
}
html,
body {
  height: 100%;
  position: relative;
}
html {
  font-size: 10px;
}
body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1.8rem;
  color: $color-font;
  -webkit-backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
}
sup {
  vertical-align: super;
  line-height: 0;
  font-size: 0.75em;
}
h1,
.h1 {
  margin-bottom: 0.75em;
  font-family: $font-family;
  line-height: 1.2;
  font-weight: 600;
  font-size: 2.8rem;
  color: $color-font-dark;

  @media (min-width: $breakpoint-tablet) {
    font-size: 3.8rem;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 5.2rem;
  }
}
h2,
.h2 {
  margin-bottom: 1em;
  font-family: $font-family;
  line-height: 1.2;
  font-weight: 600;
  font-size: 2.8rem;
  color: $color-font-dark;

  @media (min-width: $breakpoint-tablet) {
    font-size: 3.2rem;
  }
}
h3,
.h3 {
  margin-bottom: 1em;
  font-family: $font-family;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.8rem;
  color: $color-font-dark;

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.4rem;
  }
}
h4,
.h4 {
  margin-bottom: 1em;
  font-family: $font-family;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.6rem;
  color: $color-font-dark;
}
a {
  color: $color-blue;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: $color-font;
}
.ov-h {
  overflow: hidden !important;
}
/*----------*/
.b-ruble-font {
  font-family: $font-family-ruble;
}
/*----------*/
.b-button,
a.b-button,
button.b-button {
  padding: 1rem 2rem;
  border-radius: 100rem;
  display: inline-block;
  opacity: 1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: $color-white;
  max-width: 100%;
  transition-property: opacity, background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;

  &--big {
    @media (min-width: $breakpoint-desktop) {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
  &--gray {
    background-color: $color-lightgray;
    color: $color-font-dark;
    
    &:hover {
      background-color: $color-lightgray;
      color: $color-lightblue;
    }
  }
  &--blue {
    background-color: $color-blue;
    color: $color-white;

    &:hover {
      background-color: $color-lightblue;
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-blue;

    &:hover {
      color: $color-lightblue;
    }
  }
  &--wide {
    width: 100%;
    text-align: center;
  }
  &--clear {
    padding-left: 0;
    padding-right: 0;
    color: $color-blue;

    &:hover {
      color: $color-lightblue;
    }
  }
  &--clear-dark {
    padding-left: 0;
    padding-right: 0;
    color: $color-lightblue;

    &:hover {
      color: $color-white;
    }
  }
  &--icon-filter {
    &::after {
      margin-left: 1rem;
      position: relative;
      left: 0;
      margin-top: -0.3em;
      content: '';
      background: url('../img/icon-filter.svg') 50% 50% no-repeat;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      vertical-align: middle;
      transition-property: left, background;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    &:hover {
      &::after {
        // left: 0.5rem;
        // background: url('../img/icon-filter.svg') 50% 50% no-repeat;
      }
    }
  }
  &--icon-arrow {
    &::after {
      margin-left: 1rem;
      position: relative;
      left: 0;
      margin-top: -0.3em;
      content: '';
      background: url('../img/arrow-right-short.svg') 50% 50% no-repeat;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      vertical-align: middle;
      transition-property: left, background;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    &:hover {
      &::after {
        left: 0.5rem;
        background: url('../img/arrow-right-short-h.svg') 50% 50% no-repeat;
      }
    }
  }
  &--icon-arrow-dark {
    &::after {
      margin-left: 1rem;
      position: relative;
      left: 0;
      margin-top: -0.3em;
      content: '';
      background: url('../img/arrow-right-short-h.svg') 50% 50% no-repeat;
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      vertical-align: middle;
      transition-property: left, background;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
    &:hover {
      &::after {
        left: 0.5rem;
        background: url('../img/arrow-right-short-w.svg') 50% 50% no-repeat;
      }
    }
  }
}
/*----------*/
@media (max-width: calc(#{$breakpoint-tablet} - 1px)) {
  .hide-on-mobile {
    display: none !important;
  }
}
@media (min-width: $breakpoint-tablet) and (max-width: calc(#{$breakpoint-desktop} - 1px)) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media (min-width: $breakpoint-desktop) {
  .hide-on-desktop {
    display: none !important;
  }
}
