*,
*::before,
*::after {
    box-sizing: border-box;
}
::selection {
    background: $color-blue;
    color: $color-white;
}
::-moz-selection {
    background: $color-blue;
    color: $color-white;
}
html * {
    max-height: 999999px;
}
html,
body {
    height: 100%;
    position: relative;
}
html {
    font-size: 10px;
}
body {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: normal;
    font-size: 1.8rem;
    color: $color-font;
    -webkit-backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
}
sup {
    vertical-align: super;
    line-height: 0;
    font-size: 0.75em;
}
h1,
.h1 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: 600;
    font-size: 3.8rem;
    color: $color-font-dark;

    @media (min-width: $breakpoint-tablet) {
        font-size: 5.2rem;
    }
}
h2,
.h2 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: 600;
    font-size: 2.8rem;
    color: $color-font-dark;

    @media (min-width: $breakpoint-tablet) {
        font-size: 3.2rem;
    }
}
h3,
.h3 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: 600;
    font-size: 1.8rem;
    color: $color-font-dark;

    @media (min-width: $breakpoint-tablet) {
        font-size: 1.8rem;
    }
}
h4,
.h4 {
    margin-bottom: 0.75em;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: 600;
    font-size: 1.6rem;
    color: $color-font-dark;
}
a {
    color: $color-blue;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: $color-font;
}
.ov-h {
    overflow: hidden !important;
}
/*----------*/
.b-ruble-font {
    font-family: $font-family-ruble;
}
/*----------*/
.b-button,
a.b-button,
button.b-button {
    padding: 1rem 2rem;
    border-radius: 100rem;
    display: block;
    opacity: 1;
    text-align: center;
    font-size: 1.6rem;
    color: $color-white;
    max-width: 100%;
    transition-property: opacity, backgrpund, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &--blue {
        background-color: $color-blue;
        color: $color-white;

        &:hover {
            background-color: $color-lightblue;
        }
    }
    &--wide {
        width: 100%;
        text-align: center;
    }
}
/*----------*/
@media (max-width: calc(#{$breakpoint-tablet} - 1px)) {
    .hide-on-mobile {
        display: none !important;
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: calc(#{$breakpoint-desktop} - 1px)) {
    .hide-on-tablet {
        display: none !important;
    }
}
@media (min-width: $breakpoint-desktop) {
    .hide-on-desktop {
        display: none !important;
    }
}
