/*----------*/
.b-product-gallery {
  margin-bottom: 4rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;

  .product-gallery__nav {
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    max-width: 100%;
    order: 2;

    @media (min-width: $breakpoint-tablet) {
      padding: 3rem 0;
      width: 10rem;
      order: 1;
    }
  }
  .product-gallery__main {
    margin-bottom: 1rem;
    max-width: 100%;
    order: 1;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      margin-left: 5rem;
      width: calc(100% - 15rem);
      order: 2;
    }
  }
}
/*----------*/
.swiper-container--gallery-nav,
.swiper-container--gallery {
}

.swiper-container--gallery {
  height: 100%;

  .swiper-slide {
    img {
      max-width: 100%;
    }
  }
}
.swiper-container--gallery-nav {
  position: static;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    height: 35rem;
  }
  @media (min-width: $breakpoint-desktop-extra) {
    height: 40rem;
  }

  .swiper-slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    img {
      padding: 0.7rem;
      width: 100%;
      border: 1px solid transparent;
      box-shadow: none;
      transition-property: border-color, box-shadow;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      cursor: pointer;
      object-fit: cover;
    }

    &:hover {
      img {
      }
    }
  }
  .swiper-slide-active {
    img {
      border-color: $color-blue;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -1.5rem;
    top: 50%;
    position: absolute;
    width: 3rem;
    height: 3rem;
    line-height: 2.5rem;
    border-radius: 100rem;
    background-color: $color-lightgray;
    cursor: pointer;

    @media (min-width: $breakpoint-tablet) {
      margin-top: 0;
      margin-left: -1.5rem;
      top: auto;
    }

    path {
      fill: $color-blue;
      transition: fill 0.2s ease-in-out;
    }

    &:hover {
      path {
        fill: $color-lightblue;
      }
    }
  }
  .swiper-button-prev {
    left: 0;
    transform: rotate(-90deg);

    @media (min-width: $breakpoint-tablet) {
      top: 0;
      left: 50%;
      transform: none;
    }
  }
  .swiper-button-next {
    right: 0;
    transform: rotate(90deg);

    @media (min-width: $breakpoint-tablet) {
      bottom: 0;
      right: auto;
      left: 50%;
      transform: rotate(180deg);
    }
  }
}
