.catalog {
  .catalog__pic {
    position: relative;
    margin-bottom: 1.5rem;

    picture {
      display: block;
      overflow: hidden;
    }
    img {
      width: 100%;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
    }

    a:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  .catalog__id {
    margin-bottom: 1rem;
    color: $color-gray;
    font-size: 1.4rem;

    ins {
      text-decoration: none;
      color: $color-font;
    }
  }
  .catalog__title {
    margin-bottom: 1rem;
    line-height: 1.3;

    a {
      border-bottom: 1px solid transparent;
      text-decoration: none;
      color: $color-font;
      transition: border-color 0.2s ease-in-out;

      &:hover {
        border-bottom-color: $color-font;
        text-decoration: none;
      }
    }
  }
  .catalog__price {
    font-weight: 600;
    font-size: 2rem;
  }
}
// mod
.catalog--list {
  margin-bottom: 2rem;

  .catalog__items {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-flow: row wrap;
  }
  .catalog__item {
    margin-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100% / 2);

    @media (min-width: $breakpoint-tablet) {
      width: calc(100% / 3);
    }
    @media (min-width: $breakpoint-desktop) {
      width: calc(100% / 4);
    }
    @media (min-width: $breakpoint-desktop-extra) {
      width: calc(100% / 5);
    }
  }
}
// mod
.catalog--main {
  padding-bottom: 7rem;
}
// mod
.catalog--goods {
  .catalog__items {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-flow: row wrap;
  }
  .catalog__item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
      width: calc(100% / 2);
    }
  }
  .catalog__inner {
    padding: 2rem;
    box-shadow: 0px 2px 15px rgba(38, 50, 56, 0.1);
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .catalog__pic {
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
      width: 12rem;
    }
  }
  .catalog__content {
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      padding-left: 1.5rem;
      width: calc(100% - 12rem);
    }
  }
}
// mod
.catalog--carousel {
  .catalog__carousel {
    max-width: 80%;

    @media (min-width: $breakpoint-tablet) {
      max-width: 100%;
    }
  }
  .catalog__overlay {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    pointer-events: none;
    opacity: 0;
    background-color: $color-white-80a;
    font-size: 1.6rem;
    transition: opacity 0.2s ease-in-out;

    .catalog__btn {
      margin-top: auto;
    }

    ul {
      list-style: none;

      li {
        color: $color-lightgray3;

        span,
        ins {
          color: $color-font;
        }
      }
    }
  }
  .catalog__item:hover .catalog__overlay {
    opacity: 1;
    pointer-events: all;
  }
}
// mod
.catalog--detail {
  .catalog__header {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h1 {
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-desktop) {
        font-size: 4.2rem;
      }
    }
    picture {
      padding-left: 2rem;
    }
    img {
      display: none;

      @media (min-width: $breakpoint-tablet) {
        display: block;
      }
    }
  }
  .catalog__product {
    margin: 0 -1rem 5rem;
    display: flex;
    flex-flow: row wrap;

    @media (min-width: $breakpoint-desktop) {
      margin-left: -2rem;
      margin-right: -2rem;
    }
    @media (min-width: $breakpoint-desktop-extra) {
      margin-left: -3.5rem;
      margin-right: -3.5rem;
    }

    .catalog__gallery,
    .catalog__specs,
    .catalog__card {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: auto;
      margin-right: auto;
      
      @media (min-width: $breakpoint-desktop) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      @media (min-width: $breakpoint-desktop-extra) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
      }
    }
    .catalog__gallery {
      width: 100%;
      margin-bottom: 3rem;

      @media (min-width: $breakpoint-desktop) {
        margin-bottom: 0;
        width: 47%;
      }
    }
    .catalog__specs {
      margin-bottom: 3rem;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        width: 70%;
      }
      @media (min-width: $breakpoint-desktop) {
        margin-bottom: 0;
        width: 26%;
      }
    }
    .catalog__card {
      margin-bottom: 3rem;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        width: 70%;
      }
      @media (min-width: $breakpoint-desktop) {
        margin-bottom: 0;
        width: 27%;
      }
    }
  }
  .catalog__specs {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0 0 0.5em;
      display: flex;
      flex-flow: row nowrap;
      font-size: 1.6rem;
    }
    span {
      flex: 1 auto;
      display: flex;
      flex-flow: row nowrap;
      color: $color-gray;

      &::after {
        content: '';
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        position: relative;
        top: -0.6rem;
        display: block;
        flex: 1 auto;
        opacity: 0.5;
        border-bottom: 2px dotted $color-gray;
      }
    }
    ins {
      text-decoration: none;
    }

    &--col-2 {
      ul {
        @media (min-width: $breakpoint-tablet) {
          column-count: 2;
          column-gap: 30px;
        }
        @media (min-width: $breakpoint-desktop) {
          column-gap: 70px;
          column-count: 2;
          column-gap: 30px;
        }
      }
      li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
  }

  .catalog__card {
    .catalog__card-inner {
      padding: 2rem;
      box-shadow: 0px 2px 15px rgba(38, 50, 56, 0.1);
      border-radius: 0.3rem;

      @media (min-width: $breakpoint-tablet) {
        padding: 3rem;
      }
    }

    .catalog__price {
      font-size: 2.4rem;
      text-align: center;
    }
    .catalog__price-package {
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid $color-lightgray2;
      font-size: 1.6rem;
      text-align: center;

      span {
        display: block;
        color: $color-gray;

        @media (min-width: $breakpoint-tablet) {
          display: inline-block;
        }
      }
    }
  }
  .catalog__form {
    margin-bottom: 1rem;
  }
  .catalog__total {
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;

    ins {
      display: block;
      font-size: 4.2rem;
      text-decoration: none;
    }
  }
}
