.catalog {
  .catalog__pic {
    margin-bottom: 1.5rem;

    picture {
      display: block;
      overflow: hidden;
    }
    img {
      max-width: 100%;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
    }

    a:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  .catalog__id {
    margin-bottom: 1rem;
    color: $color-gray;
    font-size: 1.4rem;
  }
  .catalog__title {
    margin-bottom: 1rem;
    line-height: 1.3;

    a {
      color: $color-font;

      &:hover {
        color: $color-blue;
      }
    }
  }
  .catalog__price {
    font-weight: 600;
    font-size: 2rem;
  }
}
// mod
.catalog--list {
  margin-bottom: 2rem;
  
  .catalog__items {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-flow: row wrap;
  }
  .catalog__item {
    margin-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100% / 2);

    @media (min-width: $breakpoint-tablet) {
      width: calc(100% / 3);
    }
    @media (min-width: $breakpoint-desktop) {
      width: calc(100% / 4);
    }
    @media (min-width: $breakpoint-desktop-extra) {
      width: calc(100% / 5);
    }
  }
}
