.filter {
  padding-bottom: 3rem;
}
/*----------*/
.filter + .filter-selected {
  padding-top: 3rem;
  border-top: 1px solid $color-lightgray2;
}
/*----------*/
.filter-selected {
  margin-bottom: 5rem;
  font-size: 1.6rem;
  color: $color-black;

  span {
    margin-right: 2rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &::after {
      content: '';
      margin-left: 0.5rem;
      width: 2.4rem;
      height: 2.4rem;
      display: inline-block;
      vertical-align: middle;
      background: url('../img/icon-xcircle.svg') 50% 50% no-repeat;
      margin-top: -0.2em;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 0.5;
      }
    }

    &.filter-selected__reset {
      &::after {
        background: url('../img/refresh-icon.svg') 50% 50% no-repeat;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;
        will-change: transform;
      }
      &:hover {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
/*----------*/
/*----------*/
