.more-btn {
  margin-bottom: 3rem;
  text-align: center;

  a {
    padding: 1.5rem 2rem;
    border-radius: 100rem;
    width: 100%;
    max-width: 36.5rem;
    display: inline-block;
    vertical-align: middle;
    background-color: $color-lightgray;
    text-decoration: none;
    font-weight: 600;
    font-weight: 1.7rem;
    color: $color-blue;
    letter-spacing: 0.05em;
    transition: color 0.2s ease-in-out;
  }
  a:hover {
    text-decoration: none;
    color: $color-lightblue;
  }
}
