.sample {
  .sample__collection {
  }
  .sample__items {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-flow: row wrap;

    @media (min-width: $breakpoint-desktop) {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
  .sample__item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    position: relative;
    width: calc(100% / 3);
    
    @media (min-width: $breakpoint-tablet) {
      width: calc(100% / 5);
    }
    @media (min-width: $breakpoint-desktop) {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 5rem;
      width: calc(100% / 6);
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      pointer-events: none;

      &:checked ~ label::before,
      &:checked ~ label::after {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
      }
    }
    label {
      display: block;
      position: relative;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 1;
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
      }
      &::after {
        background: url('../img/icon-check.svg') 50% 50% no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        transition-delay: 0.1s;
      }
      &::before {
        width: 4rem;
        height: 4rem;
        background-color: $color-white;
        border-radius: 100rem;
      }
    }
    picture {
      margin-bottom: 1rem;
      max-width: 100%;
      display: block;
      clip-path: polygon(
        8.3% 0%,
        0% 8.3%,
        8.3% 16.6%,
        0% 24.9%,
        8.3% 33.2%,
        0% 41.5%,
        8.3% 49.8%,
        0% 58.1%,
        8.3% 66.4%,
        0% 74.7%,
        8.3% 83%,
        0% 91.3%,
        8.3% 100%,
        16.6% 91.7%,
        24.9% 100%,
        33.2% 91.7%,
        41.5% 100%,
        49.8% 91.7%,
        58.1% 100%,
        66.4% 91.7%,
        74.7% 100%,
        83% 91.7%,
        91.3% 100%,
        100% 91.3%,
        91.7% 83%,
        100% 74.7%,
        91.7% 66.4%,
        100% 58.1%,
        91.7% 49.8%,
        100% 41.5%,
        91.7% 33.2%,
        100% 24.9%,
        91.7% 16.6%,
        100% 8.3%,
        91.3% 0%,
        83% 8.3%,
        74.7% 0%,
        66.4% 8.3%,
        58.1% 0%,
        49.8% 8.3%,
        41.5% 0%,
        33.2% 8.3%,
        24.9% 0%,
        16.6% 8.3%
      );
    }
    img {
      width: 100%;
      transform: scale(1);
      transition: transform 0.4s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}
